venv
.venv
yolov3.weights
detr-resnet-50_finetuned_cppe5
cppe5
llama.cpp/
*.bin
.vscode
robotiq*
/robotiq_2f_85/
robotiq_2f_85*
image_path_v2
/__pycache__/
__pycache__/
codellama-7b-instruct.Q2_K.gguf